* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

#main {
  height: 100%;
  width: 100%;
  position: relative;
}
.nav {
  height: 85px;
  padding: 0 3vw;
  width: 100%;
  /* background-color: blueviolet; */
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.nav2 {
  display: flex;
  /* background-color: aqua; */
  gap: 4vw;
  align-items: center;
}
.nav h2 {
  font-size: 2.2vw;
  font-weight: 700;
}
.nav h4 {
  font-size: 1.2vw;
}

.nav2 i {
  /* font-size: 1vw; */
  font-weight: 800;
  display: none;
}
.content{
    height: calc(100% - 85px);
    width: 100%;
    
    display: flex;
    position: relative    ;
    
}
.left{
    height: 100%;
    width: 55%;
    padding: 5vw 4vw;
   
}
.left h1{
  font-size: 3vw;
  line-height: 4.4vw;
}
.left h1 span{
  color:#FF735C ;
}
.left p{
  font-size: 1.3vw;
  font-weight: 600;
  color: #666;
  width: 80%;
  margin-top: 2vw ;
  margin-bottom: 4vw;
}
.right{
    height: 100%;
    width: 45%;
   
}
button{
 font-size: 1.2vw; 
 padding: 1.3vw 2.3vw;
 background-color: #FF735C;
 color: #ffff;
 border: none;
 border-radius: 5px;
 font-weight: 700;

}
.right img{
  height: 100%;
  width: 100%;
  padding-top: 1vw;
  object-fit: cover;
}








@media (max-width: 600px) {
  .nav {
    
    padding: 0 5vw;
    height: 60px;
  }
  .nav h2 {
    font-size: 6vw;
  }
  .nav h4 {
    font-size: 3.6vw;
    display: none;
  }
  .nav2 i {
    display: block;
    font-size: 8vw;
    font-weight: 600;
  }

  .nav2 button{
    display: none;
  }
  .content{
    height: calc(100% - 60px);
    flex-direction: column;
  }
  .left{
    width: 100%;
    height: 50%;
    padding: 4vw 6vw;
    /* background-color: aqua; */
  }
  .right{
    /* background-color: red; */
    width: 100%;
    height: 50%;
  }
  .left h1{
    font-size: 10vw;
    line-height: 11vw;
  }
  .content p{
    font-size: 3.5vw;
  }
  .content button{
    font-size: 3.5vw; 
    padding: 2vw 3vw;
    background-color: #FF735C;
    color: #ffff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
  }
}
